.productsList {
  margin-top: 90px;
}
.productList__qty {
  color:  #a7a7a7;
  font-weight: 700;
}
.productsList__grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
  justify-items: center;
  color: #444;
  margin-top: 15px;

}
